.icon{
    left: 20px;
    top: 25px;
    position: absolute;
}

body{
    background-color: orange;
}

.profile{
    font-size: xx-large;
    position: absolute;
    left: 270px;
    top: 40px;
}

.mainpage {
    border: solid black 7px;
    width: 1000px;
    height: 1100px;
    position: relative;
    left: calc((100% - 1000px - 7px)/2);
    background-color: white;
    border-radius: 20px;
}

.name{
    font-size: xx-large;
    position: absolute;
    left: 270px;
    top: 115px;
    text-decoration: orangered underline;
}

.edit{
    top: 10px;
    right: 15px;
    position: absolute;
    font-size: x-large;
    background: linear-gradient(45deg,orangered, orange);
    border-radius: 10px;
    border: solid slategray 4px;
    box-shadow: 5px 5px;
}

.exit{
    top: 60px;
    right: 15px;
    position: absolute;
    font-size: x-large;
    background: linear-gradient(45deg,orangered, orange);
    border-radius: 10px;
    border: solid slategray 4px;
    box-shadow: 5px 5px;
}

.editForm{
    top: 40px;
    border: solid slategray 5px;
    width: 300px;
    height: 110px;
    position: absolute;
    left: 490px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 20px 10px 20px 10px;
}

.leftframe{
    width: 490px;
    height: 880px;
    position: absolute;
    top: 200px;
}

.bigTextOpt{
    font-size: 50px;
    border: solid slategray 5px;
    width: 350px;
    height: 70px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 20px 10px 20px 10px;
    margin-left: 50px;
    background: linear-gradient(45deg,orangered, orange);
}

li button{
    font-size: xx-large;
    border: solid slategray 5px;
    padding: 2px;
    border-radius: 10px 5px 10px 5px;
    background: linear-gradient(45deg,yellow,orange);
    box-shadow: 5px 5px;
    width: 250px;
    height: 70px;
}

.leftframe ul li{
    margin: 20px 0;
}

.right_window{
    border: solid black 5px;
    width: 410px;
    height: 610px;
    margin-left: 50px;
    border-radius: 10px;
    position: relative;
}

.rightframe{
    left: 450px;
    border: 5px;
    width: 490px;
    height: 790px;
    position: absolute;
    top: 200px;
}

.createRoom{
    position: absolute;
    top: 200px;
    left: 75px;
}

.formMes{
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.text{
    width: 300px;
    height: 30px;
    border: solid black 3px;
    padding: 2px;
    border-radius: 10px 5px 10px 5px;
    background: white;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    font-size: large;
}

.send{
    background: linear-gradient(45deg,orangered, orange);
    border-radius: 10px;
    border: solid slategray 4px;
    box-shadow: 5px 5px;
    font-size: large;
}

.tet{
    width: 250px;
    height: 15px;
    border: solid black 2px;
    padding: 2px;
    border-radius: 5px;
    background: white;
}
