<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
</head>
<body>
<div id="room-container">
    <% rooms.forEach(room => { %>
        <div><%= room%></div>
        <a href="/main/<%= room %>">Join</a>
    <% }) %>
</div>
<h1>Введите данные</h1>
<form action="/main" method="post">
    <label>Комната</label><br>
    <input type="text" name="room" /><br><br>
    <input type="submit" value="Отправить" />
</form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    let username = "<%= user.name %>";
    let login = "<%= user.login %>"
    let online_users = [];

    socket.emit("logged in", {user: username, login: login});

    socket.on("user-disconnected", ()=>{
        socket.emit("user-disconnected", {user: username, login: login});
    });

    socket.on("new online", (data)=>{
        online_users = data.online_users;
    });
</script>
</html>