.icon{
    left: 50px;
    top: 25px;
    position: absolute;
}

.bigText{
    font-size: xx-large;
    position: absolute;
    left: 290px;
    top: 40px;
    border: solid orangered 5px;
    padding: 2px;
    border-radius: 10px 0px 10px 0px;
}

.ramka {
    border: solid orange 5px;
    width: 1000px;
    height: 1000px;
    position: relative;
    left: 450px;
}

.user_name{
    font-size: xx-large;
    position: absolute;
    left: 290px;
    top: 95px;
    text-decoration: orangered underline;
}
.user_info{
    font-size: xx-large;
    position: absolute;
    left: 290px;
    top: 138px;
    text-decoration: orangered underline;
}

.edit{
    top: 10px;
    right: 15px;
    position: absolute;
    font-size: x-large;
    background: slategray;
    color: aliceblue;
    border-radius: 10px;
}

.exit{
    top: 60px;
    right: 15px;
    position: absolute;
    font-size: x-large;
    background: slategray;
    color: aliceblue;
    border-radius: 10px;
}

.smth{
    top: 40px;
    border: solid orange 5px;
    width: 380px;
    height: 110px;
    position: absolute;
    left: 450px;
}

.leftframe{
    border: solid slategray 5px;
    width: 490px;
    height: 790px;
    position: absolute;
    top: 200px;
}

.bigTextOpt{
    font-size: xx-large;
}

li button{
    font-size: xx-large;
    border: solid orangered 5px;
    padding: 2px;
    border-radius: 10px 0px 10px 0px;
}

.rightframe{
    left: 500px;
    border: solid slategray 5px;
    width: 490px;
    height: 790px;
    position: absolute;
    top: 200px;
}

.create_room{
    position: absolute;
    top: 400px;
    left: 610px;
}

.send_message{
    position: absolute;
    top: 600px;
    left: 610px;
}