@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    background: #e7f0f5 url("../media/background.png");
    background-size: cover;
}

p {
    font-family: "Comfortaa", cursive;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
}

.toolbar {
    width: 100%;
    height: 75px;
    background-color: #77accc;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.logo-toolbar {
    width: 120px;
    height: 75px;
    position: absolute;
    left: 0.2%;
}

.square-logo {
    margin-top: -3px;
    margin-left: 3px;
    height: 80px;
    width: 80px;
    position: absolute;
}

.square-logo {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/logo.png");
}

.header {
    border-style: solid;
    border-width: 2px;
    border-color: #ff69b4;
    border-radius: 30px;
    background: #ff69b4;
    height: 50px;
}

.header:hover {
    background-color: #ff0093;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0093;
    border-radius: 30px;
}

#header1 {
    position: absolute;
    left: 10%;
    top: 2%;
    width: 13%;
}

#header2 {
    position: absolute;
    left: 83%;
    top: 2%;
    width: 7%;
}

.round-button {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 86.6%;
    top: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: #ff69b4;
    border-radius: 40px;
    background: #ff69b4;
}

.round-button:hover {
    background-color: #ff0093;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0093;
    border-radius: 40px;
}

#about {
    left: 86.6%;
    transition: 0.6s;
}

#active-about {
    left: 73.4%;
    transition: 0.6s;
}

#settings {
    left: 86.6%;
    transition: 0.4s;
}

#active-settings {
    left: 77.8%;
    transition: 0.4s;
}

#logout {
    left: 86.6%;
    transition: 0.2s;
}

#active-logout {
    left: 82.2%;
    transition: 0.2s;
}

#active-pop-up {
    left: 86.6%;
}

#active-pop-up {
    background-color: #ff0093;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0093;
    border-radius: 40px;
}

.round-logo {
    position: absolute;
    left: 15%;
    top: 15%;
    height: 70%;
    width: 70%;
}

.round-logo {
    background-color: transparent;
    text-align: -webkit-center;
}

.logo {
    width: 100%;
    height: 100%;
}

.main {
    position: absolute;
    width: 80%;
    height: 800px;
    left: 10%;
    margin-top: 6px;
}

.main {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 2px;
    border-color: #77accc;
    border-style: solid;
    border-radius: 4px;
}

.left-menu {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: #77accc;
    width: 30%;
    height: 800px;
    margin-top: -2px;
    margin-left: -2px;
}

.finder-square {
    width: 100%;
    height: 50px;
}

.user-finder {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 25px;
    margin-top: 8px;
    margin-left: -4px;
    border-radius: 10px;
}

.user-finder {
    outline: none;
    box-shadow: none;
}

.user-finder {
    text-indent: 25px;
    font-family: "Comfortaa", cursive;
    background-image: url("../media/search.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px 5px;
    border-color: #77accc;
    border-style: solid;
}

.users-list {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 750px;
    margin-top: -2px;
    margin-left: -2px;
    border-style: solid;
    border-color: #77accc;
    border-width: 2px;
}

.users-list {
    overflow-y: scroll;
}

.user {
    width: 100%;
    height: 50px;
}

.user:hover {
    background-color: #f1f1f1;
}

.avatar {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.image {
    margin-left: 12%;
    margin-top: 10%;
    width: 76%;
    height: 76%;
}

.name {
    position: absolute;
    width: auto;
    margin-left: 50px;
    margin-top: 18px;
}

.letter {
    margin-top: 7px;
    text-align: center;
    font-weight: bold;
}

.right-menu { 
    position: absolute;
    width: 70%;
    height: 800px;
    left: 30%;
}

.RoomFinder {
    width: 100%;
    height: 50px;
}

#ChatFinder {
    position: absolute;
    left: 3%;
    width: 94%;
    height: 25px;
    margin-top: 8px;
    margin-left: -3px;
    border-radius: 10px;
}

#ChatFinder {
    outline: none;
    box-shadow: none;
}

#ChatFinder {
    text-indent: 25px;
    font-family: "Comfortaa", cursive;
    background-image: url("../media/search.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px 5px;
    border: #77accc solid 2px;
}