@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    background: #e7f0f5 url("../media/background.png");
    background-size: cover;
}

p {
    font-family: "Comfortaa", cursive;
    user-select: none;
}

.toolbar {
    width: 100%;
    height: 75px;
    background-color: #77accc;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.logo-toolbar {
    width: 120px;
    height: 75px;
    position: absolute;
    left: 0.2%;
}

.square-logo {
    margin-top: -3px;
    margin-left: 3px;
    height: 80px;
    width: 80px;
    position: absolute;
}

.square-logo {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/logo.png");
    /*border: solid 2px black;*/
}

.header1 {
    border-style: solid;
    border-width: 2px;
    border-color: #ff69b4;
    border-radius: 30px;
    background: #ff69b4;
    width: 13%;
    height: 50px;
    position: absolute;
    left: 10%;
    top: 2%;
}

.header1:hover {
    background-color: #ff0093;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0093;
    border-radius: 30px;
}

.header2 {
    border-style: solid;
    border-width: 2px;
    border-color: #ff69b4;
    border-radius: 30px;
    background: #ff69b4;
    width: 7%;
    height: 50px;
    position: absolute;
    left: 83%;
    top: 2%;
}

.header2:hover {
    background-color: #ff0093;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0093;
    border-radius: 30px;
}

.about {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 75%;
    top: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: #ff69b4;
    border-radius: 40px;
    background: #ff69b4;
}

.about:hover {
    background-color: #ff0093;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0093;
    border-radius: 40px; 
}

.setting {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 79%;
    top: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: #ff69b4;
    border-radius: 40px;
    background: #ff69b4;
}

.setting:hover {
    background-color: #ff0093;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0093;
    border-radius: 40px; 
}

.round-logo {
    position: absolute;
    left: 15%;
    top: 15%;
    height: 70%;
    width: 70%;
}

.round-logo {
    background-color: transparent;
    text-align: -webkit-center;
}

.logo {
    width: 100%;
    height: 100%;
}

.main {
    position: absolute;
    width: 80%;
    height: 625px;
    left: 10%;
    margin-top: 6px;
}

.main {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 2px;
    border-color: #77accc;
    border-style: solid;
    border-radius: 4px;
}

.left-menu {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: #77accc;
    width: 30%;
    height: 625px;
    margin-top: -2px;
    margin-left: -2px;
}

.finder-square {
    width: 100%;
    height: 50px;
}

.user-finder {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 25px;
    margin-top: 11px;
    margin-left: -4px;
    border-radius: 10px;
}

.user-finder {
    outline: none;
    box-shadow: none;
}

.user-finder {
    text-indent: 25px;
    font-family: "Comfortaa", cursive;
    background-image: url("../media/search.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px 5px;
    border-color: #77accc;
    border-style: solid;
}

.right-menu { 
    position: absolute;
    width: 70%;
    height: 625px;
    left: 30%;
    margin-top: -1px;
    margin-left: -1px;
}

.RoomFinder {
    width: 100%;
    height: 50px;
}

#ChatFinder {
    position: absolute;
    height: 25px;
    width: 90%;
    left: 5%;
    margin-top: 12px;
    margin-left: -2px;
    border: #77accc solid 2px;
    border-radius: 10px;
    text-indent: 25px;
    outline: none;
    font-family: "Comfortaa", cursive;
    background-image: url("../media/search.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px 5px;
    box-shadow: none;
}