.input-password {
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px;
              rgba(0, 0, 0, 0.15) 5px 5px 11px;
  border-radius: 20px;
  width: 275px;
  height: 35px;
  display: flex;
  align-items: center;
}

.input-password {
  position: absolute;
  left: 800px;
  top: 530px;
}

.input-password input{
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-indent: 20px;
  color: #B2BECD;
  font-size: 14px;
  outline: 0;
}

.input-icon {
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  padding: 3px 6px;
  cursor: pointer;
  transition: all .4s ease;
}

.input-icon.selected {
  background-color: #2d2d2d;
}

.input-icon img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}

.input-login {
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px;
              rgba(0,0,0,0.15) 5px 5px 11px;
  border-radius: 20px;
  width: 275px;
  height: 35px;
  display: flex;
  align-items: center;
}

.input-login {
position: absolute;
left: 800px;
top: 470px;
}

.input-login input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-indent: 20px;
  color: #B2BECD;
  font-size: 14px;
  outline: 0;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}

.input-name {
  margin-top: 20px;
  margin-left: 20px;
    box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px;
                rgba(0,0,0,0.15) 5px 5px 11px;
  border-radius: 20px;
  width: 275px;
  height: 35px;
  display: flex;
  align-items: center;
}

.input-name {
position: absolute;
left: 800px;
top: 590px;
}

.input-name input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-indent: 20px;
  color: #B2BECD;
  font-size: 14px;
  outline: 0;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}

.input-logo {
  position: absolute;
  max-width: 450px;
  max-height: 200px;
  width: auto;
  height: auto;
  resize: both;
  left: 50%;
  top: 32%;
  margin-left: -225px;
  margin-top: -100px;
}

.logo {
  max-width: 450px;
  max-height: 250px;
  width: auto;
  height: auto;
  resize: both;
}

.input-button {
  position: absolute;
  left: 920px;
  top: 670px;
}