.input-password {
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px;
              rgba(0, 0, 0, 0.15) 5px 5px 11px;
  border-radius: 20px;
  width: 325px;
  height: 45px;
  display: flex;
  align-items: center;
}

.input-password {
   position: absolute;
  max-width: 325px;
  max-height: 45px;
  width: auto;
  height: auto;
  left: 43%;
  top: 61%;
}

.input-password input{
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-indent: 20px;
  color: #B2BECD;
  font-size: 14px;
  outline: 0;
}

.input-icon {
  width: 20px;
}

.input-icon.selected {
  background-color: #2d2d2d;
}

.input-icon img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}

.input-login {
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px;
              rgba(0,0,0,0.15) 5px 5px 11px;
  border-radius: 20px;
  width: 345px;
  height: 45px;
  display: flex;
  align-items: center;
}

.input-login {
  position: absolute;
  max-width: 345px;
  max-height: 45px;
  width: auto;
  height: auto;
  left: 43%;
  top: 56%;
}

.input-login input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-indent: 20px;
  color: #B2BECD;
  font-size: 14px;
  outline: 0;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}

.input-name {
  margin-top: 20px;
  margin-left: 20px;
    box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px;
                rgba(0,0,0,0.15) 5px 5px 11px;
  border-radius: 20px;
  width: 345px;
  height: 45px;
  display: flex;
  align-items: center;
}

.input-name{
  position: absolute;
  max-width: 345px;
  max-height: 45px;
  width: auto;
  height: auto;
  left: 43%;
  top: 66%;
}

.input-name input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-indent: 20px;
  color: #B2BECD;
  font-size: 14px;
  outline: 0;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}

.input-button {
  position: absolute;
  width: 100%;
  top: 71%;
}
.error{
  position: absolute;
  max-width: 345px;
  max-height: 45px;
  width: auto;
  height: auto;
  left: 43%;
  top: 75%;
}

::-webkit-input-placeholder {
  color: #B2BECD;
}
.PutLogin{
  position: absolute;
  max-width: 345px;
  max-height: 45px;
  width: auto;
  height: auto;
  left: 46%;
  top: 54%;
}
::-webkit-input-placeholder {
  color: #B2BECD;
}
.PutPassword{
  position: absolute;
  max-width: 345px;
  max-height: 45px;
  width: auto;
  height: auto;
  left: 46%;
  top: 59%;
}
::-webkit-input-placeholder {
  color: #B2BECD;
}  
.PutName{
  position: absolute;
  max-width: 345px;
  max-height: 45px;
  width: auto;
  height: auto;
  left: 46%;
  top: 64%;
}
::-webkit-input-placeholder {
  color: #B2BECD;
}  
